nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
}

nav ul li{
  list-style-type: none;
  
}
 nav ul{
  display: flex;
  gap: 40px;
}
.logo{
  font-size: 1.5rem;
  font-weight: bold;
}

lablel{
  display: block;
}