.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}
.login-form:hover {
    background-color: #f0f0f0;
    box-shadow: red 0px 0px 10px;
}

.login-form h2 {
    margin-bottom: 20px;
}
.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.login-form button a {
  /* background-color: #000000; */
  text-decoration: none;
  color: white;
  padding: 10px 20px;   
}
.login-form button a:hover {
  background-color: #1cff1c;
  color: black;
}